body {
    background-image: url("../images/kanyebackground.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: sticky;
}

/* NAV STYLES */
nav {
    font-family: 'Dancing Script', cursive;
    padding: 0 4em;
}

nav .brand-logo{
    font-size: 38px;
    margin: 0;
    line-height: unset;
}

.nav-wrapper li {
    margin-left: 2em;
    font-size: 26px;
}

/* FIND NEW QUOTES STYLES */
.find-new-quotes-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quote-object-el {
    width: 50%;
}

.card-content p {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder;
}

.buttons {
    width: 30%;
    text-align: center;
    padding: 2em 0;
    border-radius: 8px;
}

.user-choice-btn {
    font-size: 20px;
    margin:2em;
    border-radius: 8px;
    border: none;
    padding: 1em;
}

/* SAVED QUOTE STYLES */
.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 5%;
}

.saved-card {
    width: 20%;
}